body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
    height: 100%;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    color: #dcd7d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: hsl(35, 15%, 84%);
    color: black;
  }
  .column {
    float: left;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .title {
    color: grey;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    word-break: break-all;
  }
  h2{
    text-align: center;
    font-size: 30px;
    word-break: break-all;
  }
  p {
    text-align: center;
    font-size: 30px;
    word-break: break-all;
  }
  h4 {
    text-align: left;
    font-size: 20px;
    word-break: break-all;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
}
  input[type=submit] {
    background-color: #a6b1d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #a6b1d1;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  * {box-sizing:border-box}

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #2f4156;
    color: #c8d9e6;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  #myVideo {
    position: center;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
  }
  #timer {  
    font-size: 3em;
    font-weight: 100;
    color: #2f4156;;
    text-shadow: 0 0 20px #89c7f6;
    
    div {
      display: inline-block;
      min-width: 90px;
      
      span {
        color: black;
        display: block;
        font-size: .35em;
        font-weight: 400;
      }
    }
  }
  
  footer {
    background: #c8d9e6; 
    padding: 10px; 
    flex:1;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
   }
